<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>AlaMode Remote</title>
      <link rel="stylesheet" type="text/css" href="{{ static_url("view.css") }}" media="all"></link>
      <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
      <script type="text/javascript" src="{{ static_url("view.js") }}"></script>
    </meta>
  </head>
  <body id="main_body" >
    <img id="top" src="{{ static_url("top.png") }}" alt="" width=800px></img>
    <div id="form_container">
      <h1><a>AlaMode Remote Control</a></h1>
      <form id="form_521396" class="appnitro"  method="post" action="">
	<div class="form_description">
	  <h2>AlaMode Remote Control</h2>
	  <p>Web interface to AlaMode pins</p>
	</div>						
	<ul >
	  
	  <li id="li_1" >
	    <label class="description" for="element_1">I  /  O </label>
	    <span>
	      <input id="digi_input_2" name="digi_io_2" class="element radio" type="radio" value="mode/2/input" checked="checked"/>
	      <input id="digi_output_2" name="digi_io_2" class="element radio" type="radio" value="mode/2/output"/>
	      <label class="radio" for="digi_output_2">2</label>
	    </span> 
	    <span>
	      <input id="element_2_13" name="digi_value_2" class="element checkbox" type="checkbox" value="value/2"/>
	    </span> 
	  </li>
	  <li id="li_1" >
	    <span>
	      <input id="digi_input_13" name="digi_io_13" class="element radio" type="radio" value="mode/13/input" checked="checked"/>
	      <input id="digi_output_13" name="digi_io_13" class="element radio" type="radio" value="mode/13/output"/>
	      <label class="radio" for="element_1_13_out">13</label>
	    </span> 
	    <span>
	      <input id="element_2_13" name="digi_value_13" class="element checkbox" type="checkbox" value="value/13"/>
	    </span> 
	  </li>
	  
	  <li class="buttons">
	    <input type="hidden" name="form_id" value="521396" />
	  </li>
	</ul>
      </form>	
    </div>
    <img id="bottom" src="{{ static_url("bottom.png") }}" alt=""> </img>
    <div id="log"></div>
  </body>
</html>
