body {
  padding: 30px;
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FFF url('bg-tile.png') repeat;
  position: relative;
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 460px;
  padding: 2em;
  
  background: #DCDDDF;
  
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 1px 0px 1px,
                      rgba(0, 0, 0, 0.046875) 1px -1px 0px,
                      rgba(0, 0, 0, 0.0976562) 0px 1px 0px,
                      rgba(0, 0, 0, 0.0976562) -1px 0px 1px,
                      rgba(0, 0, 0, 0.046875) -1px -1px 0px,
                      rgba(0, 0, 0, 0.148438) 0px 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 1px 0px 1px,
                   rgba(0, 0, 0, 0.046875) 1px -1px 0px,
                   rgba(0, 0, 0, 0.0976562) 0px 1px 0px,
                   rgba(0, 0, 0, 0.0976562) -1px 0px 1px,
                   rgba(0, 0, 0, 0.046875) -1px -1px 0px,
                   rgba(0, 0, 0, 0.148438) 0px 3px 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.65, rgba(255,255,255,0.558)), color-stop(1, rgba(255,255,255,1)));
  background: -moz-linear-gradient(rgba(255,255,255,0.558) 65%, rgba(255,255,255,1) 100%);
}

.content {
  margin-top: 1em;
  margin-bottom: 1em;
}

::selection {
  background: #9bdd62;
  color: rgba(255, 255, 255, 0.847656);
}

::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.847656);
  background: #9bdd62;
}

.content p{
  color: #555;
  font-size: 1.4em;
  line-height: 1.3em;
}

.content p.small {
  font-size: 1.1em;
}

.content h1 {
  font-size: 2.5em;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.9) 0 1px 0px;
  font-weight: bold;
  
}

.content a, .content a:visited {
  color: #4083A9;
  text-decoration: none;
}

.content a:hover {
  color: #234E6C;
}

.ui-progress-bar {
  margin-top: 3em;
  margin-bottom: 3em;
}